*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 60px;
  background-color: rgb(208, 199, 199);
  /* background-color: rgb(154, 106, 199); */
  
 }

  .headline{
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

